body{
  background-color: black;
  padding:0px;
  margin: 0px;
  font-family: "poppins" serif;
 
}

.first{
 padding: 10px;
 position: fixed;
 top: 0;
 width: 100%;
 background-color: black;
}

.logo{
  width: 120px;
  height: auto;
}

.drop{
  width: 40px;
  height: auto;
  float: right;
  margin-right: 25px;
}

.second{
  color: white;
  margin-top: 80px;
  padding: 25px;
 
}

.h1{
  
  font-size: 25px;
}

.hp{
 line-height: 25px;
}

.button1{
  background-color: white;
  color: black;
  display: flex;
  width: 150px;
  height: 40px;
  padding: 10px;
  border-radius: 75px;
 
}

.apple{
  height: 35px;
  width: auto;
}

.btn1{
  margin-left: 15px;
  margin-top: 0px;
  width: 60%;
  line-height: 20px;
}

span{
  font-weight: bold;
}

.button2{
  background-color: white;
  color: black;
  display: flex;
  width: 150px;
  height: 40px;
  padding: 15px;
  border-radius: 75px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.ratings{
  display: flex;
  flex-direction: row;
}

.mouse{
  margin-top: 90px;
  margin-bottom: 50px;
  margin-right: 0px;
}

.line{
  height: 150px;
  width: 40px;
  margin-left: 0px;
  margin-top: 40px;
}

.side{
  flex-direction: column;
}

.stars{
  margin-top: 13px;
  margin-bottom: 0px;
}

.user{
  margin-top: 70px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0px;
}

.star{
  height:25px;
  width: auto;
}

.point{
  color: gray;
  margin-top: 10px;
}



.middle{
  margin-top: 50px;
  background-color: white;
  padding: 20px;
 
}

.send{
  height: 200px;
  width: auto ;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.spend{
  margin-left: 140px;
  font-size: 25px;
  margin-bottom: 0px;
}

.sd{
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.sd2{
  font-weight: bold;
  margin-left: 80px;
  margin-top: 10px;
}

.s1{
  font-weight: bold;
  margin-left: 70px;
  margin-bottom: 0px;
}

.s2{
  font-weight: bold;
  margin-left: 100px;
  margin-top: 10px;
}

.bank{
  font-weight: bold;
  margin-left: 130px;
  margin-bottom: 0px;
}

.b1{
  font-weight: bold;
  margin-left: 60px;
  margin-top: 12px;
  margin-bottom: 0px;
}

.b2{
  font-weight: bold;
  margin-left: 120px;
  margin-top: 12px;
}

.green{
  background-color: forestgreen;
  padding-top: 40px;
  padding-right: 0px;
  padding-left: 30px;
  margin-right: 0px;
  padding-bottom: 40px;
  border-radius: 30px;
  margin-top: 30px;
}

.house{
  width: 30px;
  height: auto;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}

.usd{
  font-size: 20px;
  color: white;
  margin-bottom: 0px;
}

.note{
  color: white;
  width: 100%;
  margin-top: 9px;
}

.link1{
  vertical-align: middle;
  background-color: white;
  width: 70%;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 40px;
}

.arrow{
  width: 20px;
  height: auto;
  vertical-align: center;
}

.link{
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.green2{
  
  background-color: black;
  padding-top: 40px;
  padding-right: 0px;
  padding-left: 30px;
  margin-right: 0px;
  padding-bottom: 40px;
  border-radius: 30px;
  margin-top: 30px;
}

.paris{
  background-color: whitesmoke;
  height: 600px;
  margin-top: 20px;
  border-radius: 30px;
}

.city{
  width: 300px;
  height: auto;
}

.hc{
  width: 80%;
  margin-left: 30px;
  margin-top: 200px;
  margin-bottom: 0px;
}

.pc{
  width: 80%;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.black {
  background-image: url(/cta.6541ec9.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  border-radius: 20px;
  color: white;
  padding: 20px;
  text-align: center;
}

.me{
  width: 90%;
  margin-bottom: 0px;
}

.button3{
  background-color: white;
  color: black;
  display: flex;
  width: 150px;
  height: 40px;
  padding: 10px;
  border-radius: 75px;
  margin-left:35px;
 margin-top: 40px;
 margin-bottom: 0px;
}



.button4{
  background-color: white;
  color: black;
  display: flex;
  width: 150px;
  height: 40px;
  padding: 15px;
  border-radius: 75px;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 35px;
}

.afi{
  margin-left: 70px;
}

.cnbc{
 height: 50px;
 width: auto;
 margin-left: 20px;
 margin-bottom: 10px;
 filter: grayscale(100%)
}

.cnbc:active{
  filter: grayscale(0%)
}

.dm2{
  height: 30px;
  width: auto;
 margin-left: 100px;
 margin-top: 10px;
 filter: grayscale(100%)
}

.dm2:active{
  filter: grayscale(0%)
}

.news{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.news2{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.premium{
  width: 150px;
  height: auto;
  margin-right: 40px;
  margin-left: 0px;
  filter: grayscale(100%)
}

.premium:active{
  filter: grayscale(0%)
}

.vguard{
  width: 130px;
  margin-right: 0px;
  margin-top: 10px;
 margin-left: 0px;
 filter: grayscale(100%)
}

.vguard:active{
  filter: grayscale(0%)
}

.guardian{
  width: 150px;
  margin-left: 80px;
  margin-top: 20px;
  filter: grayscale(100%)
}

.guardian:active{
  filter: grayscale(0%)
}

.yahoo{
  width: 170px;
  margin-left: 70px;
  margin-top: 20px;
  filter: grayscale(100%)
}

.yahoo:active{
  filter: grayscale(0%)
}

.final{
  color: white;
}

.company{
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

a{
  margin-top: 25px;
  text-decoration: none;
  color: white;
}

.help{
  margin-left: 30px;
  margin-top: 50px;
}

.social{
  margin-top: 50px;
  margin-left: 30px
}

.st{
  display: flex;
  vertical-align: middle;
  margin-bottom: 0px;
}

.twitter{
  height: 10px;
  width: auto;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
 
}

.tweet{
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
 
}

.stt{
  display: flex;
  vertical-align: middle;
  margin-top: 0px;
  
}

.lo{
  margin-left: 30px;
  margin-top: 35px;
  margin-bottom: 0px;
  
}

.ca{
  display: flex;
  vertical-align: middle;
}

.cp{
  width: 80%;
  margin-left: 5px;
  margin-top: 0px;
}

.cf{
  height: 20px;
  width: 20px;
  border-radius: 15px;
  margin-top: 15px;
}

.cj{
  width: 80%;
  margin-left: 5px;
}

hr{
  border-color: grey;
  margin-top: 40px;
}

.no{
  color: grey;
  margin-left: 30px;
  width: 90%;
}

.pd{
  width: 100px;
  height: auto;
  margin-left: 30px;
  margin-top: 50px;
}

.end{
  color: grey;
  margin-left: 30px;
}

.cancel{
  float: left;
}